html{
    scroll-behavior: smooth;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #000;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
  }

  div#navi{
    margin-bottom: 80px;
  }

li{
    display: inline;
  
    float: left;
}
  
li>a{
    display: block;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    background-color: rgb(250, 68, 68);
    color: white;
    text-decoration: none;
    border-right: 1px solid gray;
}

li a:hover {
    background-color: rgb(255, 34, 34);
  }

.cont-data{
    float:right
}

.navbar{
    font-size: 20px;
    font-weight: 600;
}

.site{
    font-size: 25px;
}

.home{
    margin-top: 40px;
    background-color: #000;
}

.foto{
    margin-top: 40px;
    background-color: #333;
}

.projects{
    margin-top: 40px;
    background-color: #000;
}

.contact{
    margin-top: 40px;
    background-color: #333;
}